* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
   
    height: 100vh;
    background-color: white;

}

li {
    list-style: none;
}
.logo a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1rem;

}


/* HEADER */
header {


    position: fixed;
    padding: 0 2rem;
    background-color: child;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.navbar {
    /* outline: auto; */
    
    height: 60px;
    max-width: 100%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    
}


.logo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links a:hover {
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.donate_btn {
    background-color: orange;
    color:black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.donate_btn:hover {
    scale: 1.05;
    color: #fff;
}

.donate_btn:active {
    scale: 0.95;
}
/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    left: 0px;
    top: 60px;
    width: 100%;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 2rem 2rem;
   
}

.dropdown_menu.open {
    display: inline-block;
}

.dropdown_menu li {
    padding: 0.7rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .donate_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}




#intro .container {
    padding-top: 90px !important;
    & h1 {
        text-align: initial;
        font-size: 2rem;
    }

    & p {
        text-align: initial;
        
    }

    & img {
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        margin-top: 2rem;
    }
}

.container {
    /* outline: auto; */
    padding: 2rem 2rem;
    
    & h1 {
        text-align: initial;
        padding-bottom: 1rem;
    }

    & p {
        text-align: initial;
    }
    
}

.navbar .links,
.navbar .donate_btn {
    display: none;
}

.navbar .toggle_btn {
    display: block;
}




  
/*RESPONSIVE DESIGN CONTENT *NAV MENU BELOW* */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar .links,
    .navbar .donate_btn {
        display: flex;
    }

    .navbar .toggle_btn {
        display: none;
    }

    .dropdown_menu {
        display: none !important;
    }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home-wrapper {
        display: flex;
        align-items: initial;
        justify-content: initial;
        & h1 p {
            text-align: inital;
        }
    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
    
    .navbar {
        padding: 0rem 12rem;
    }

    #intro .container {
        padding: 0rem 14rem; 
        padding-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin: auto;
        flex-basis: 0;
    }
    
    .home-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0rem 12rem;
        flex-basis: 0;

    }
}




/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
